:root {

    /* PRIMARY */
    --color-red-light: #fe7867;
    --color-yellow: #fad400;
    --color-desaturated-cyan-dark: #25564b;
    --color-blue-dark: #19536b;
    --color-moderate-cyan-dark: #458c7e;

    /* NEUTRAL: bg, text */
    --color-white: #ffffff;
    --color-desaturated-blue-dark: #23303e;
    --color-grayish-blue-dark--1: #818498;
    --color-grayish-blue-dark--2: #5a636c;
    --color-grayish-blue: #a7abae;

    /*  FONST SIZE  */
    --fs-base: 1.8rem;
    --fs-2xl: 3.6rem;

    --ff-serif: "Fraunces", serif;
    --ff-mono: "Barlow", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

/* font-family: "Fraunces", serif;
font-optical-sizing: auto; */
body {
    font-size: var(--fs-base);
    line-height: 1.5;
    font-weight: 600;
    font-optical-sizing: auto;
    font-family: var(--ff-mono);
    font-weight: 600;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 114rem;
    margin-inline: auto;
    width: 100%;
    display: grid;
    grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 140px) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    grid-template-rows: 95vh repeat(6, min-content);
}

/* ====================
    GLOBAL STYLES
======================*/
.btn:link,
.btn:visited {
    text-transform: uppercase;
    font-family: var(--ff-serif);
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 100px;
}

/* ==================
    SECTION HEADER
====================*/
.header {
    grid-column: full-start/full-end;
    background-image: url('./images/desktop/image-header.jpg');
    background-position: center;
    background-size: cover;
    color: var(--color-white);
    padding: 2rem 3rem;
}

.logo {
    width: 16rem;
}

.primary-heading {
    text-transform: uppercase;
    font-size: clamp(1.8rem, 7vw, 4.4rem);
    font-family: var(--ff-serif);
    letter-spacing: clamp(1px, 7vw, 8px);
    font-weight: 900;
    text-align: center;
    margin-top: 9.6rem;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    column-gap: 5rem;
    align-items: center;
}

.nav-item {}

.nav-link:link,
.nav-link:visited {
    font: inherit;
    color: var(--color-white);
    text-decoration: none;
}

.btn-cta:link,
.btn-cta:visited {
    background-color: var(--color-white);
    color: var(--color-blue-dark);
    font-family: var(--ff-serif);
    font-weight: 700;
}

.btn-cta:hover {
    color: var(--color-white);
    background-color: #6fcfff;
}

/* ====================
    FEATURES
======================*/
.feature__text {
    background-color: #fffbf8;
    padding: 8rem;
    padding-right: 5rem;
    
}

.feature__img {
}

.feature__img > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.feature__title {
    font-family: var(--ff-serif);
    font-weight: 900;
    font-size: var(--fs-2xl);
    line-height: 1.2;
    margin-bottom: 1em;
    letter-spacing: 2px;
}

.feature__desc {
    color: var(--color-grayish-blue-dark--1);
    margin-bottom: 3em;
}

.feature__learn-more:link,
.feature__learn-more:visited {
    text-transform: uppercase;
    font: inherit;
    font-family: var(--ff-serif);
    text-decoration: none;
    color: #000;
    font-weight: 700;
    display: inline-block;
}

.feature__learn-more::after {
    content: '';
    height: 8px;
    background-color: rgba(250, 212, 0, 0.3);
    margin-top: -10px;
    margin-left: -6px;
    width: 110%;
    display: table;
    border-radius: 12px;
}


.feature__text--1 {
    grid-column: full-start/col-start 5;
}

.feature__img--1 {
    grid-column: col-start 5 / full-end;
}

.feature__text--2 {
    grid-column: col-start 5 / full-end;   
}

.feature__img--2 {
    grid-column: full-start/col-start 5;
}

.feature {
    background-size: cover;
    background-position: top;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.feature > h2 {
    margin-bottom: 3rem;
}
.feature > p {
    max-width: 35ch; 
}

.feature--1 {
    grid-column: full-start/col-start 5;
    background-image: url(./images/desktop/image-graphic-design.jpg);
}

.feature--1 > * {
    color: var(--color-desaturated-cyan-dark);
}
.feature--2 {
    grid-column: col-start 5/full-end;
    background-image: url(./images/desktop/image-photography.jpg);
}

.feature--2 > * {
    color: var(--color-blue-dark)
}

.features--3 {
    background-color: aquamarine;
    grid-column: full-start/full-end;
    padding: 3rem;

}

.gallery {
    grid-column: full-start/full-end;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    display: grid;
}
/* ====================
    TESTIMONIALS
====================== */

.testimonials {
    grid-column: full-start/ full-end;
    padding: 9.6rem 6rem;
    background-color: #fffbf8;
    text-align: center;
}

.testimonial__title {
    font-family: var(--ff-serif);
    font-weight: 900;
    font-size: var(--fs-base);
    letter-spacing: 3px;
    margin-bottom: 6rem;
    text-transform: uppercase;
    color: var(--color-grayish-blue-dark--1)

    
}
.testimonials__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.client__photo {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 100%;
    overflow: hidden;
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.testimonial:not(:last-child){
    /* margin-bottom: 6rem; */
}

.testimonial blockquote p {
    color: var(--color-grayish-blue-dark--2);
    max-width: 41ch;
    font-size: 1.6rem;
}

.testimonial footer {
    /* justify-self: flex-end; */
    margin-top: auto;
}

.client-name {
    font-family: var(--ff-serif);
    font-weight: 700;
    }
    
.client-prof {
    font-size: 1.4rem;
    color: var(--color-grayish-blue)
}


/* ====================
    FOOTER
====================== */
.footer {
    background-color: #95d7cb;
    grid-column: full-start/full-end;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9.6rem 0 4rem 0;
}

.footer svg {
    cursor: pointer;
    align-self: center;
}

footer svg>.icon {
    fill: var(--color-desaturated-cyan-dark);
    transition: all .3s;
}

.footer svg:hover>.icon{
    fill: var(--color-white);
}
.footer__logo {
    margin-bottom: 3rem;
}

.footer-nav {
    margin-bottom: 6rem;
}


.social-list {
    display: flex;
    column-gap: 4rem;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.social-item {
}
.social-link {
    display: inline-block;
}

.footer-link:link,
.footer-link:visited {
    transition: all .3s;
    color: var(--color-moderate-cyan-dark);
}

.footer-link:hover {
    color: var(--color-white);
}

/* =================
    RESPONSIVE DESIGN
================== */

@media (max-width: 900px) {
    .feature__img,
    .feature__text {
        grid-column: full-start/full-end;
    }

    .feature__img--1 {
        grid-row: 2/3;
    }

    .feature__text--1 {
        grid-row: 3/4;
    }

    .feature {
        grid-column: full-start/full-end;
    }
}